{erl_opts, [debug_info, warnings_as_errors, warn_untyped_record]}.

{
  deps,
  [
    {ctx, "0.6.0"},
    {jsx, "3.1.0"},
    {hackney, "1.20.1"}
  ]}.

{shell, [{apps, [cfapi]}]}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{ex_doc, [
  {extras, ["README.md", "LICENSE"]},
  {main, "README.md"},
  {source_url, "https://github.com/harness/ff-erlang-server-sdk"}
]}.

{hex, [{doc, ex_doc}]}.
